# compiled output
/dist
/node_modules
.env

#Productos API
1. Clonar Proyecto
2.```yarn install```
3. Clonar el archivo ``env.template```y renombrarlo a ``env```
4. Cambiar las vbles de entorno
5. Levantar la base de datos
```
docker-compose up -datos
```

6. Levantar: ```npm start:dev```